{% extends 'useraut/main.html' %}


{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
 


    <title>Grad</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
           
     
 
     
    <div id="login-box">
    <div class="left">
    <form method="POST" action="">
      {% csrf_token %}
  
      <h1>Sign up</h1>
      <label>Username</label>
      {{form.username}}
      <label>Email</label>
      {{form.email}}
      <label>Password</label>
      {{form.password1}}
      <label>Password</label>
      {{form.password2}}
      
      <input type="submit" name="signup_submit" value="Sign me up" />

      {{form.errors}}

    </div>
    

            
              

      </form>

    
</html>



    
    


{% endblock content %}